/* HERO SECTION */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/labs/lab1.jpg') center/cover;
}
.pic {
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid #000; 
    background: white;
    overflow: hidden; /* Чтобы ничего не выходило за границы */
    margin: 0 auto;
}


.grass1, .grass2, .grass3 {
    position: absolute;
    bottom: 20%;
    width: 60%;
    height: 75%;
}

.grass1{
    left: 20%;
    transform: scaleX(-1);
}

.grass2{
    left: 60%;
    transform: scaleX(-1);
}

.grass3{
    left: 10%;
    bottom: 15%;
}
.green {
    position: absolute;

    width: 120%;
    height: 200%;
    border: 10px solid rgb(39, 143, 33);
    
    border-radius: 100% 100% 0 0;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 80% 20%);
}

.white {
    position: absolute;
    top: 4%;
    left: 30%;
    width: 48%; 
    height: 30%;
    background: rgb(255, 255, 255);
    border-radius: 100% 100% 100% 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 25%);

}

.fish1, .fish2 {
    position: absolute;
    width: 50%; 
    height: 20%;
    

}

.fish3 {
    position: absolute;
    width: 35%; 
    height: 14%;
}

.fish1 {
    top: 30%;
    left: -7%;
    transform: scaleX(-1) rotate(15deg);
}

.fish2 {
    top: 30%;
    right: -15%;
    transform: rotate(35deg);
}

.fish3 {
    bottom: 30%;
    left: 65%;
    transform: translateX(-50%);
}

.body {
    width: 80%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgb(247, 248, 230),
        rgb(226, 187, 56)
    );
    border-radius: 50%;
    position: absolute;
    background-position: 0% 0%;
    background-size: 125% 100%;
}


.tail {
    position: absolute;
    left: 60%;
    top: 0%;
    width: 40%;
    height: 100%;
    background: 
        radial-gradient(
            ellipse 25% 100% at right center,
            rgb(255, 255, 255) 50%,
            transparent 50%
        ),
        linear-gradient(
            to right,
            rgb(247, 248, 230),
            rgb(226, 187, 56)
        );
    background-position: 0 0, 100% 0%; 
    background-size: auto, 250% 100%;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);

}

.eye {
    position: absolute;
    left: 10%; 
    top: 30%;
    width: 7.5%;
    height: 25%;
    background-color: black;
    border-radius: 50%; 
}

.circle-pattern 
{
    position: absolute;
    left: 50%;
    height: 28%;
    aspect-ratio: 1 / 1;
    border: 1px solid #c80a0a;
    border-radius: 0 100% 100% 0%;
    background: transparent; 
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);

}

.circle-big {
    position: absolute;
    top: 3%;
    height: 85%;
    left: 18%;
    right: 50%;
    aspect-ratio: 1 / 2;
    border: px solid #c80a0a;

}


.sand
{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 20%;
    background-image:
    repeating-linear-gradient(
      to right,
      rgb(255, 221, 0) 0 10%,
      rgb(255, 140, 0) 10% 20%
    );
}

.stone
{
    width: 16%;
    height: 8%;
    background:rgb(66, 53, 8);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}
