.tmz {
    position: relative;
    width: 100px;
    height: 50px;
    overflow: hidden;
}

.t {
    width: 50%;
    height: 100%;
}

.tVertical {
    position: absolute;
    left: 20%;
    width: 10%;
    height: 100%;
    background: rgb(8, 77, 18);
}

.tHorizontal {
    position: absolute;
    top: 0%;
    width: 50%;
    height: 12.5%;
    background: rgb(8, 77, 18);
}

.z {
    position: absolute;
left:34%;
    bottom: 0;
    width: 20%;
    height: 75%;
    


}

.zTop {
    position: absolute;
    width: 100%;
    top: 0;
    height: 10%;
    left:0;
    background: rgb(223, 219, 219);

}

.zBottom {
    position: absolute;
    width: 100%;
    background: rgb(223, 219, 219);
    height: 10%;
    bottom: 0;

}

.zDiagonal {
    position: absolute;
    background: rgb(223, 219, 219);
    transform: skewX(-15deg);
    width: 60%;
    height: 100%;
    right: 19%;
    bottom: 0;

}



.m {
    position: absolute;
    left: 60%;
    width: 40%;
    height: 75%;
    bottom: 0;
}

.mVerticalLeft {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: rgb(112, 6, 6);
    top: 0;

}

.mVerticalRight {
    position: absolute;
    width: 30%;
    height: 100%;
    right: 0;
    background-color: rgb(112, 6, 6);
    bottom: 0;

}

.mToLeft {
    position: absolute;
    width: 30%;
    height: 100%;
    left: 10%;
    background-color: rgb(112, 6, 6);
    transform: skewX(12deg);
    top: 0;

}

.mToRight {
    position: absolute;
    width: 10%;
    height: 100%;
    left: 55%;
    background-color: rgb(112, 6, 6);
    transform: skewX(-16deg);
    bottom: 0;

}
